## Descarga y tratamiento de datos

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy.optimize import minimize
from scipy.stats import jarque_bera
import cvxpy as cp
from cvxopt import matrix, solvers
import requests
import json
import urllib3
urllib3.disable_warnings()
from datetime import datetime
import pytz

El primer paso práctico en la construcción de nuestro portafolio es la adquisición de datos históricos de los activos en los que deseamos invertir.

Utilizamos el módulo requests de Python para manejar sesiones y cookies, permitiéndonos mantener una conexión persistente durante nuestras solicitudes de datos a un servicio web.

Esto es esencial para asegurar la continuidad y la integridad de la sesión de usuario durante la descarga de datos desde plataformas que requieren autenticación o mantenimiento de estado.

In [2]:
# Genero una sesion para mantener las cookies.
s = requests.session()
a = s.get('https://open.bymadata.com.ar/#/dashboard', verify=False)

In [3]:
a.text

'<!DOCTYPE html>\n<html>\n  <head>\n    <meta charset="utf-8" />\n\n    <title>BYMADATA - Cotizaciones en Tiempo Real | BYMA Bolsas y Mercados Argentinos</title>\n\n    <meta name="description" content="BYMA te acerca la informaciÃ³n mÃ¡s relevante del Mercado de Capitales argentino en un solo lugar." />\n\n    <meta name="facebook-domain-verification" content="x9zbmyu0rbwsxvklczmdu6ujdbq5s8" />\n\n    <!-- base url -->\n    <base href="/" />\n\n    <meta\n      name="viewport"\n      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"\n    />\n    <link\n      href="https://fonts.googleapis.com/icon?family=Material+Icons"\n      rel="stylesheet"\n    />\n    <!-- #CSS Links -->\n    <!-- Basic Styles -->\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/bootstrap.min.css"\n    />\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/font-awesome.min.css"\n    />\n\n    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/smartadmin-production-plugins.min.css"\n    />\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/smartadmin-production.min.css"\n    />\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/smartadmin-skins.min.css"\n    />\n\n    <!-- SmartAdmin RTL Support (Not using RTL? Disable the CSS below to save bandwidth) -->\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/smartadmin-rtl.min.css"\n    />\n\n    <!-- SmartAdmin Angular 2. Flex Layout  -->\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/smartadmin-angular-next.css"\n    />\n\n    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->\n    <link\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/demo.min.css"\n      />\n\n      <link\n      id="calendar"\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/calendar.css"\n    />\n    \n    <link\n      id="theme"\n      rel="stylesheet"\n      type="text/css"\n      media="screen"\n      href="assets/css/app-montserrat.css"\n    />\n\n\n    <!-- #FAVICONS -->\n    <link\n      rel="shortcut icon"\n      href="assets/img/favicon/favicon.ico"\n      type="image/x-icon"\n    />\n\n    <!-- #APP SCREEN / ICONS -->\n    <!-- Specifying a Webpage Icon for Web Clip\n  Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->\n    <link\n      rel="apple-touch-icon"\n      href="assets/img/splash/sptouch-icon-iphone.png"\n    />\n    <link\n      rel="apple-touch-icon"\n      sizes="76x76"\n      href="assets/img/splash/touch-icon-ipad.png"\n    />\n    <link\n      rel="apple-touch-icon"\n      sizes="120x120"\n      href="assets/img/splash/touch-icon-iphone-retina.png"\n    />\n    <link\n      rel="apple-touch-icon"\n      sizes="152x152"\n      href="assets/img/splash/touch-icon-ipad-retina.png"\n    />\n\n    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->\n    <meta name="apple-mobile-web-app-capable" content="yes" />\n    <meta name="apple-mobile-web-app-status-bar-style" content="black" />\n\n    <!-- Startup image for web apps -->\n    <link\n      rel="apple-touch-startup-image"\n      href="assets/img/splash/ipad-landscape.png"\n      media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"\n    />\n    <link\n      rel="apple-touch-startup-image"\n      href="assets/img/splash/ipad-portrait.png"\n      media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)"\n    />\n    <link\n      rel="apple-touch-startup-image"\n      href="assets/img/splash/iphone.png"\n      media="screen and (max-device-width: 320px)"\n    />\n  <link rel="stylesheet" href="styles.f32ff2a2a9befd5dab83.css"></head>\n  <body>\n    <app-root> </app-root>\n\n  <!-- Facebook Pixel Code -->\n  <script>\n    !function(f,b,e,v,n,t,s) {\n      if(f.fbq)return;n=f.fbq=function() {\n        n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)\n      };\n      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version=\'2.0\';\n      n.queue=[];t=b.createElement(e);t.async=!0;\n      t.src=v;s=b.getElementsByTagName(e)[0];\n      s.parentNode.insertBefore(t,s)\n    }\n    (window, document,\'script\',\'https://connect.facebook.net/en_US/fbevents.js\');\n    fbq(\'init\', \'625182074842779\');\n    fbq(\'track\', \'PageView\');\n  </script>\n  <noscript>\n    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=625182074842779&ev=PageView&noscript=1"/>\n  </noscript>\n  <!-- End Facebook Pixel Code -->\n  <script type="text/javascript" src="runtime.2ab60a447401b49f068f.js"></script><script type="text/javascript" src="polyfills.21ecdc66844b1463e7bf.js"></script><script type="text/javascript" src="main.7a87bb8b4755e14af204.js"></script></body>\n</html>\n'

### Extracción de datos para múltiples activos

El proceso es similar para múltiples activos, pero se realiza dentro de un bucle que itera a través de una lista de tickers.

Almacenamos cada DataFrame en un diccionario que facilita el acceso y la manipulación posterior.

Este método nos permite manejar eficientemente varios activos, fundamental para la construcción de un portafolio diversificado.

In [4]:
# Lista de tickers
tickers = [
    "ALUA", "BBAR", "BMA", "BYMA", "CEPU", "COME", "CRES",
    "EDN", "GFVA", "GGAL", "IRSA", "LOMA", "MIRG", "PAMP",
    "SUP", "TECO2", "TGNO4", "TGSU2", "TRAN", "TXAR",
    "VALO", "YPFD"
]

# Parámetros de tiempo
inicio = int(datetime(2020, 1, 1, 0, 0).timestamp())
hoy = datetime.now(pytz.timezone('America/Argentina/Buenos_Aires')).timestamp()

# Diccionario para almacenar los DataFrames de cada ticker
dfs = {}

for ticker in tickers:
    params = (
        ('symbol', f'{ticker} CDO'), ## Nombre de especie y plazo (CDO / 24HS / 48HS)
        ('resolution', 'D'),  ## puede ser D - Diario, S - Semanal, M - Mensual,
        ('from', str(inicio)), ## Unix epoch, se deberia poder armar como int(datetime.datetime(AÑO,MES,DIA,HORA,MINUTOS).timestamp())
        ('to', str(int(hoy))), ## Unix epoch, se deberia poder armar como int(datetime.datetime(AÑO,MES,DIA,HORA,MINUTOS).timestamp())
    )

    response = requests.get('https://open.bymadata.com.ar/vanoms-be-core/rest/api/bymadata/free/chart/historical-series/history', params=params, verify=False)

    if response.status_code == 200:
        data = json.loads(response.text)
        df = pd.DataFrame(data)
        df['t'] = pd.to_datetime(df['t'], unit='s').dt.normalize()
        df.rename({'s':'status', 't':'timestamp', 'c':'close', 'o':'open', 'h':'high', 'l':'low', 'v':'volume'}, axis = 1, inplace=True)
        dfs[ticker] = df
    else:
        print(f"No se pudo obtener datos para {ticker}")

# Puedes acceder a cada DataFrame con dfs['TICKER']
dfs

{'ALUA':     status  timestamp   close   open   high     low  volume
 0       ok 2022-08-01  137.25  140.5  144.0  135.75   16941
 1       ok 2022-08-02  139.00  136.0  142.0  136.00   43185
 2       ok 2022-08-03  137.50  140.0  144.0  134.00   19449
 3       ok 2022-08-04  135.25  140.0  140.0  132.25   17123
 4       ok 2022-08-05  134.25  135.0  139.0  134.25    7705
 ..     ...        ...     ...    ...    ...     ...     ...
 517     ok 2024-09-13  912.00  917.0  920.0  892.00  187036
 518     ok 2024-09-16  926.00  919.0  935.0  913.00   53631
 519     ok 2024-09-17  917.00  930.0  930.0  901.00   34006
 520     ok 2024-09-18  898.00  928.0  928.0  887.00   42384
 521     ok 2024-09-19  884.00  907.0  920.0  866.00  107009

 [522 rows x 7 columns],
 'BBAR':     status  timestamp   close    open    high     low  volume
 0       ok 2022-08-01   255.0   257.1   270.0   255.0    1275
 1       ok 2022-08-02   251.2   247.0   258.0   246.0    4913
 2       ok 2022-08-03   257.6   260.0   265.0   240.0    2810
 3       ok 2022-08-04   252.3   262.0   262.0   251.0     952
 4       ok 2022-08-05   255.0   252.2   256.0   252.0    1023
 ..     ...        ...     ...     ...     ...     ...     ...
 517     ok 2024-09-13  4720.0  4800.0  4800.0  4650.0    8463
 518     ok 2024-09-16  4710.0  4850.0  5000.0  4700.0   17074
 519     ok 2024-09-17  4745.0  4650.0  4800.0  4580.0   12187
 520     ok 2024-09-18  4750.0  4790.0  4855.0  4645.0   14012
 521     ok 2024-09-19  4895.0  4985.0  5040.0  4840.0   24478

 [522 rows x 7 columns],
 'BMA':     status  timestamp    close    open    high      low  volume
 0       ok 2022-08-01   378.40   377.0   380.0   362.40    4388
 1       ok 2022-08-02   390.00   364.4   390.0   360.50   16860
 2       ok 2022-08-03   382.00   385.0   385.0   371.85   20338
 3       ok 2022-08-04   378.80   385.0   388.0   376.00     551
 4       ok 2022-08-05   374.85   380.9   380.9   371.60     334
 ..     ...        ...      ...     ...     ...      ...     ...
 517     ok 2024-09-13  8370.00  8230.0  8400.0  8230.00    9803
 518     ok 2024-09-16  8330.00  8590.0  8760.0  8320.00   14172
 519     ok 2024-09-17  8590.00  8370.0  8680.0  8300.00   13175
 520     ok 2024-09-18  8800.00  8710.0  8820.0  8550.00   21240
 521     ok 2024-09-19  9130.00  9080.0  9250.0  9030.00   22971

 [522 rows x 7 columns],
 'BYMA':     status  timestamp   close   open    high     low  volume
 0       ok 2022-08-01  202.25  220.0  224.75  202.00    1631
 1       ok 2022-08-02  199.50  202.0  205.00  199.00    7655
 2       ok 2022-08-03  194.00  191.0  198.00  187.25    4649
 3       ok 2022-08-04  197.00  199.0  205.75  196.00    3074
 4       ok 2022-08-05  194.50  198.0  199.50  194.50    2681
 ..     ...        ...     ...    ...     ...     ...     ...
 517     ok 2024-09-13  336.50  339.5  348.00  330.00  148890
 518     ok 2024-09-16  336.50  343.0  348.50  328.00  188124
 519     ok 2024-09-17  329.50  331.5  334.00  325.00  258550
 520     ok 2024-09-18  332.00  340.0  340.00  320.50   81650
 521     ok 2024-09-19  340.50  338.5  345.00  333.00   91846

 [522 rows x 7 columns],
 'CEPU':     status  timestamp    close    open     high      low  volume
 0       ok 2022-08-01   110.50   114.1   114.10   108.50    5169
 1       ok 2022-08-02   109.00   111.5   111.95   107.00   42615
 2       ok 2022-08-03   110.25   109.0   110.25   107.60   21756
 3       ok 2022-08-04   109.55   111.0   112.50   108.35    1988
 4       ok 2022-08-05   113.05   111.3   113.55   107.95   14113
 ..     ...        ...      ...     ...      ...      ...     ...
 517     ok 2024-09-13  1300.00  1280.0  1310.00  1260.00   58879
 518     ok 2024-09-16  1310.00  1320.0  1325.00  1285.00   35388
 519     ok 2024-09-17  1275.00  1285.0  1305.00  1265.00   25272
 520     ok 2024-09-18  1270.00  1285.0  1300.00  1245.00   64502
 521     ok 2024-09-19  1270.00  1285.0  1345.00  1260.00   36876

 [522 rows x 7 columns],
 'COME':     status  timestamp   close    open    high     low  volume
 0       ok 2022-08-01   15.35   16.00   16.00   15.20   45605
 1       ok 2022-08-02   15.10   15.75   15.75   14.70   99814
 2       ok 2022-08-03   15.00   15.30   15.30   14.65   20404
 3       ok 2022-08-04   15.15   15.05   15.40   15.00   72631
 4       ok 2022-08-05   15.85   15.70   16.10   15.70   73915
 ..     ...        ...     ...     ...     ...     ...     ...
 517     ok 2024-09-13  279.00  281.00  284.00  276.50  227117
 518     ok 2024-09-16  280.50  280.00  289.00  278.50  186678
 519     ok 2024-09-17  281.50  279.50  282.00  270.00  151008
 520     ok 2024-09-18  281.00  281.00  284.00  275.00  275802
 521     ok 2024-09-19  280.50  282.00  284.00  276.00  208912

 [522 rows x 7 columns],
 'CRES':     status  timestamp    close     open    high     low  volume
 0       ok 2022-08-01   163.00   165.00   167.0   160.0    4302
 1       ok 2022-08-02   167.25   157.30   169.9   157.3    7978
 2       ok 2022-08-03   176.45   176.00   177.0   169.0    5915
 3       ok 2022-08-04   180.30   175.00   181.0   173.0    2647
 4       ok 2022-08-05   177.60   176.75   180.5   176.0    8437
 ..     ...        ...      ...      ...     ...     ...     ...
 517     ok 2024-09-13  1130.00  1145.00  1150.0  1115.0   27530
 518     ok 2024-09-16  1135.00  1155.00  1170.0  1135.0   20308
 519     ok 2024-09-17  1140.00  1125.00  1155.0  1120.0   17892
 520     ok 2024-09-18  1115.00  1145.00  1145.0  1090.0   11612
 521     ok 2024-09-19  1125.00  1110.00  1140.0  1110.0   18020

 [522 rows x 7 columns],
 'EDN':     status  timestamp   close     open     high     low  volume
 0       ok 2022-08-01    89.0    92.60    95.00    89.0   21151
 1       ok 2022-08-02    92.9    90.50    95.00    87.1    9307
 2       ok 2022-08-03    97.2    94.65    99.15    94.0    5489
 3       ok 2022-08-04   100.4   102.00   103.00    99.0    7688
 4       ok 2022-08-05   100.5   103.00   104.85   100.0    5472
 ..     ...        ...     ...      ...      ...     ...     ...
 517     ok 2024-09-13  1535.0  1465.00  1540.00  1455.0   30697
 518     ok 2024-09-16  1520.0  1575.00  1600.00  1510.0   41133
 519     ok 2024-09-17  1520.0  1525.00  1545.00  1460.0   34071
 520     ok 2024-09-18  1500.0  1545.00  1560.00  1480.0   25289
 521     ok 2024-09-19  1535.0  1565.00  1570.00  1520.0   14901

 [522 rows x 7 columns],
 'GFVA': Empty DataFrame
 Columns: [status, timestamp, close, open, high, low, volume]
 Index: [],
 'GGAL':     status  timestamp    close    open    high     low  volume
 0       ok 2022-08-01   220.00   240.0   240.0   217.0   61043
 1       ok 2022-08-02   224.10   221.0   225.0   217.5  143349
 2       ok 2022-08-03   226.25   228.0   228.0   221.0   36800
 3       ok 2022-08-04   223.05   230.0   230.0   220.0   34749
 4       ok 2022-08-05   222.65   225.0   226.0   220.6   34686
 ..     ...        ...      ...     ...     ...     ...     ...
 517     ok 2024-09-13  5700.00  5570.0  5890.0  5480.0   81113
 518     ok 2024-09-16  5510.00  5730.0  5880.0  5510.0  115944
 519     ok 2024-09-17  5560.00  5480.0  5630.0  5420.0   57955
 520     ok 2024-09-18  5680.00  5660.0  5710.0  5530.0   58722
 521     ok 2024-09-19  5730.00  5800.0  5830.0  5690.0   65973

 [522 rows x 7 columns],
 'IRSA':     status  timestamp    close     open     high      low  volume
 0       ok 2022-08-01   125.05   125.00   129.60   125.00     505
 1       ok 2022-08-02   124.50   120.50   124.50   120.50     895
 2       ok 2022-08-03   121.45   120.00   121.45   120.00       8
 3       ok 2022-08-04   123.00   121.15   129.00   121.15      15
 4       ok 2022-08-05   128.95   129.00   129.00   128.95      31
 ..     ...        ...      ...      ...      ...      ...     ...
 504     ok 2024-09-13  1455.00  1530.00  1530.00  1445.00   14172
 505     ok 2024-09-16  1495.00  1540.00  1540.00  1465.00   21225
 506     ok 2024-09-17  1470.00  1465.00  1505.00  1440.00   14299
 507     ok 2024-09-18  1430.00  1480.00  1505.00  1415.00    6424
 508     ok 2024-09-19  1435.00  1405.00  1485.00  1405.00   20066

 [509 rows x 7 columns],
 'LOMA':     status  timestamp    close    open    high      low  volume
 0       ok 2022-08-01   338.65   343.0   343.0   328.80    5243
 1       ok 2022-08-02   333.00   331.0   340.0   331.00    5636
 2       ok 2022-08-03   338.75   337.5   339.0   330.05   19023
 3       ok 2022-08-04   334.95   331.7   340.4   331.00    5689
 4       ok 2022-08-05   345.35   344.1   348.0   339.75    1138
 ..     ...        ...      ...     ...     ...      ...     ...
 517     ok 2024-09-13  2010.00  1995.0  2055.0  1940.00   58423
 518     ok 2024-09-16  2045.00  2040.0  2080.0  2030.00   26983
 519     ok 2024-09-17  2090.00  2050.0  2100.0  2040.00   13115
 520     ok 2024-09-18  2145.00  2130.0  2170.0  2100.00   15174
 521     ok 2024-09-19  2200.00  2245.0  2245.0  2185.00   20471

 [522 rows x 7 columns],
 'MIRG':     status  timestamp    close     open     high      low  volume
 0       ok 2022-08-01   3890.0   3928.0   3930.0   3875.5     307
 1       ok 2022-08-02   3873.5   3898.0   3919.0   3871.5      22
 2       ok 2022-08-03   3880.0   3850.0   3880.0   3850.0      17
 3       ok 2022-08-04   4075.0   4000.0   4075.0   3873.0      21
 4       ok 2022-08-05   3947.0   3890.5   3947.0   3859.5      17
 ..     ...        ...      ...      ...      ...      ...     ...
 515     ok 2024-09-13  21350.0  21500.0  21500.0  21150.0     100
 516     ok 2024-09-16  21825.0  21500.0  21950.0  21050.0     616
 517     ok 2024-09-17  21775.0  22050.0  22175.0  21700.0     370
 518     ok 2024-09-18  20525.0  21425.0  22075.0  20050.0     597
 519     ok 2024-09-19  21325.0  21700.0  21700.0  21250.0     274

 [520 rows x 7 columns],
 'PAMP':     status  timestamp    close     open     high     low  volume
 0       ok 2022-08-01   271.35   280.00   280.00   263.0   30344
 1       ok 2022-08-02   263.90   270.00   274.25   263.3   40760
 2       ok 2022-08-03   279.30   265.65   279.30   265.0   21280
 3       ok 2022-08-04   274.30   280.00   283.45   273.7   10363
 4       ok 2022-08-05   278.25   279.05   286.00   275.1   13762
 ..     ...        ...      ...      ...      ...     ...     ...
 517     ok 2024-09-13  2950.00  2970.00  2995.00  2925.0   51587
 518     ok 2024-09-16  2950.00  3000.00  3000.00  2940.0   66040
 519     ok 2024-09-17  2915.00  2920.00  2925.00  2865.0   51055
 520     ok 2024-09-18  2930.00  2920.00  2960.00  2870.0   66968
 521     ok 2024-09-19  3050.00  2980.00  3055.00  2980.0   71706

 [522 rows x 7 columns],
 'SUP': Empty DataFrame
 Columns: [status, timestamp, close, open, high, low, volume]
 Index: [],
 'TECO2':     status  timestamp    close    open    high     low  volume
 0       ok 2022-08-01   258.25   260.0   270.0   250.0    3298
 1       ok 2022-08-02   250.15   250.0   253.1   250.0    2564
 2       ok 2022-08-03   255.80   255.0   262.0   249.4    2226
 3       ok 2022-08-04   255.00   257.0   260.0   255.0    2962
 4       ok 2022-08-05   255.00   258.0   258.0   255.0     590
 ..     ...        ...      ...     ...     ...     ...     ...
 517     ok 2024-09-13  2000.00  2025.0  2035.0  1975.0    8989
 518     ok 2024-09-16  2085.00  2020.0  2100.0  1985.0   10981
 519     ok 2024-09-17  2045.00  2060.0  2060.0  2020.0    1951
 520     ok 2024-09-18  1955.00  2060.0  2060.0  1920.0   20815
 521     ok 2024-09-19  2075.00  2005.0  2095.0  1970.0   33045

 [522 rows x 7 columns],
 'TGNO4':     status  timestamp   close     open    high     low  volume
 0       ok 2022-08-01   113.0   112.25   114.5   109.5    6743
 1       ok 2022-08-02   111.5   116.00   116.0   111.0    2135
 2       ok 2022-08-03   113.0   112.50   113.0   110.5   13163
 3       ok 2022-08-04   115.5   115.00   116.0   111.0   17225
 4       ok 2022-08-05   129.0   118.00   129.5   118.0   45512
 ..     ...        ...     ...      ...     ...     ...     ...
 517     ok 2024-09-13  3250.0  3295.00  3360.0  3180.0   20419
 518     ok 2024-09-16  3270.0  3295.00  3370.0  3205.0   14557
 519     ok 2024-09-17  3265.0  3205.00  3300.0  3205.0    5154
 520     ok 2024-09-18  3220.0  3295.00  3300.0  3200.0    9285
 521     ok 2024-09-19  3280.0  3300.00  3330.0  3220.0   19522

 [522 rows x 7 columns],
 'TGSU2':     status  timestamp    close     open     high      low  volume
 0       ok 2022-08-01   325.25   349.65   349.65   325.00     543
 1       ok 2022-08-02   325.55   325.05   337.00   325.05     190
 2       ok 2022-08-03   331.05   332.95   339.00   330.00     230
 3       ok 2022-08-04   333.65   329.95   334.60   326.00    1377
 4       ok 2022-08-05   339.95   337.35   340.00   332.50     742
 ..     ...        ...      ...      ...      ...      ...     ...
 517     ok 2024-09-13  5240.00  5190.00  5450.00  5150.00    8300
 518     ok 2024-09-16  5290.00  5390.00  5430.00  5290.00   10922
 519     ok 2024-09-17  5200.00  5250.00  5300.00  5180.00    4182
 520     ok 2024-09-18  5100.00  5230.00  5440.00  4910.00   14779
 521     ok 2024-09-19  5140.00  5100.00  5160.00  5090.00    8234

 [522 rows x 7 columns],
 'TRAN':     status  timestamp   close    open    high     low  volume
 0       ok 2022-08-01    73.1    76.3    77.1    73.0   10505
 1       ok 2022-08-02    74.9    73.0    76.0    73.0    4988
 2       ok 2022-08-03    73.9    75.7    75.7    72.6     975
 3       ok 2022-08-04    75.8    75.9    75.9    73.4    6597
 4       ok 2022-08-05    84.0    78.0    86.0    78.0   13600
 ..     ...        ...     ...     ...     ...     ...     ...
 517     ok 2024-09-13  1830.0  1830.0  1840.0  1785.0   10140
 518     ok 2024-09-16  1845.0  1880.0  1880.0  1820.0    9234
 519     ok 2024-09-17  1850.0  1850.0  1850.0  1750.0   31843
 520     ok 2024-09-18  1770.0  1880.0  1880.0  1730.0   25387
 521     ok 2024-09-19  1770.0  1800.0  1830.0  1760.0   14642

 [522 rows x 7 columns],
 'TXAR':     status  timestamp   close    open   high     low  volume
 0       ok 2022-08-01  156.25  169.00  169.0  155.50   12902
 1       ok 2022-08-02  163.00  153.25  163.0  153.25   69823
 2       ok 2022-08-03  157.25  158.75  164.0  154.50   35925
 3       ok 2022-08-04  159.00  161.00  161.0  154.00   24591
 4       ok 2022-08-05  160.00  160.25  162.5  158.50   34511
 ..     ...        ...     ...     ...    ...     ...     ...
 517     ok 2024-09-13  832.00  835.00  860.0  816.00  104207
 518     ok 2024-09-16  863.00  842.00  863.0  818.00   84099
 519     ok 2024-09-17  861.00  875.00  875.0  851.00   84905
 520     ok 2024-09-18  831.00  870.00  870.0  820.00   99433
 521     ok 2024-09-19  848.00  841.00  860.0  800.00  121529

 [522 rows x 7 columns],
 'VALO':     status  timestamp  close   open   high    low  volume
 0       ok 2022-08-01   56.0   55.7   57.5   55.3    1161
 1       ok 2022-08-02   55.5   54.0   57.0   54.0   20236
 2       ok 2022-08-03   57.0   58.0   58.0   56.5      63
 3       ok 2022-08-04   56.9   56.9   56.9   56.9     898
 4       ok 2022-08-05   56.6   56.1   57.9   56.1    6155
 ..     ...        ...    ...    ...    ...    ...     ...
 515     ok 2024-09-13  320.0  324.5  325.5  317.5   50598
 516     ok 2024-09-16  320.0  322.0  329.0  319.0   14177
 517     ok 2024-09-17  319.5  322.5  322.5  315.0   12325
 518     ok 2024-09-18  315.5  323.5  323.5  314.0    4743
 519     ok 2024-09-19  317.5  316.0  320.0  314.5   10975

 [520 rows x 7 columns],
 'YPFD':     status  timestamp     close      open     high       low  volume
 0       ok 2022-08-01   1038.00   1150.00   1150.0   1016.00    6235
 1       ok 2022-08-02   1074.70   1010.05   1086.0   1010.05    8975
 2       ok 2022-08-03   1090.65   1053.70   1099.0   1045.50   10348
 3       ok 2022-08-04   1081.55   1100.00   1100.0   1064.00    3845
 4       ok 2022-08-05   1097.00   1100.00   1130.0   1080.00    3324
 ..     ...        ...       ...       ...      ...       ...     ...
 517     ok 2024-09-13  29125.00  29325.00  29400.0  29000.00   24004
 518     ok 2024-09-16  29900.00  29350.00  30150.0  29325.00   21536
 519     ok 2024-09-17  29525.00  29525.00  29800.0  28800.00   15745
 520     ok 2024-09-18  29125.00  29600.00  29600.0  28600.00   17924
 521     ok 2024-09-19  29575.00  29975.00  29975.0  29275.00   24817

 [522 rows x 7 columns]}

### Consolidación de datos

Finalmente, consolidamos los datos de todos los activos en un único DataFrame.

Esto nos permite observar y analizar los precios de cierre de todos los activos en una matriz temporal, donde las filas representan fechas y las columnas representan cada activo.

La visualización y análisis de esta matriz serán cruciales para decisiones subsecuentes en la asignación de activos y la evaluación del riesgo y retorno del portafolio.

In [5]:
# Concatena todos los DataFrames en uno solo
datos = pd.concat(dfs.values(), keys=dfs.keys())

# Restablece el índice para que 'timestamp' sea una columna y no un índice
datos = datos.reset_index()

# Renombra las columnas para que sea más claro
datos.rename(columns={'level_0': 'Ticker', 'timestamp': 'Date'}, inplace=True)

# Pivotea los datos para obtener los precios de cierre con fechas en filas y tickers en columnas
datos = datos.pivot(index='Date', columns='Ticker', values='close')

# Convierte todos los valores a numérico, por si acaso algunos fueron leídos como strings
for column in datos.columns:
    datos[column] = pd.to_numeric(datos[column], errors='coerce')

# Convierte la columna de índice 'Date' a datetime si no lo está ya
datos.index = pd.to_datetime(datos.index)

# Ordena el DataFrame por la fecha de manera descendente (las fechas más recientes primero)
datos.sort_index(ascending=False, inplace=True)

datos = datos.reset_index()

# Ahora pivot_data es similar a lo que se muestra en tu segunda imagen
datos

Ticker,Date,ALUA,BBAR,BMA,BYMA,CEPU,COME,CRES,EDN,GGAL,...,LOMA,MIRG,PAMP,TECO2,TGNO4,TGSU2,TRAN,TXAR,VALO,YPFD
0,2024-09-19,884.00,4895.0,9130.00,340.50,1270.00,280.50,1125.00,1535.0,5730.00,...,2200.00,21325.0,3050.00,2075.00,3280.0,5140.00,1770.0,848.00,317.5,29575.00
1,2024-09-18,898.00,4750.0,8800.00,332.00,1270.00,281.00,1115.00,1500.0,5680.00,...,2145.00,20525.0,2930.00,1955.00,3220.0,5100.00,1770.0,831.00,315.5,29125.00
2,2024-09-17,917.00,4745.0,8590.00,329.50,1275.00,281.50,1140.00,1520.0,5560.00,...,2090.00,21775.0,2915.00,2045.00,3265.0,5200.00,1850.0,861.00,319.5,29525.00
3,2024-09-16,926.00,4710.0,8330.00,336.50,1310.00,280.50,1135.00,1520.0,5510.00,...,2045.00,21825.0,2950.00,2085.00,3270.0,5290.00,1845.0,863.00,320.0,29900.00
4,2024-09-13,912.00,4720.0,8370.00,336.50,1300.00,279.00,1130.00,1535.0,5700.00,...,2010.00,21350.0,2950.00,2000.00,3250.0,5240.00,1830.0,832.00,320.0,29125.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,2022-08-05,134.25,255.0,374.85,194.50,113.05,15.85,177.60,100.5,222.65,...,345.35,3947.0,278.25,255.00,129.0,339.95,84.0,160.00,56.6,1097.00
518,2022-08-04,135.25,252.3,378.80,197.00,109.55,15.15,180.30,100.4,223.05,...,334.95,4075.0,274.30,255.00,115.5,333.65,75.8,159.00,56.9,1081.55
519,2022-08-03,137.50,257.6,382.00,194.00,110.25,15.00,176.45,97.2,226.25,...,338.75,3880.0,279.30,255.80,113.0,331.05,73.9,157.25,57.0,1090.65
520,2022-08-02,139.00,251.2,390.00,199.50,109.00,15.10,167.25,92.9,224.10,...,333.00,3873.5,263.90,250.15,111.5,325.55,74.9,163.00,55.5,1074.70
521,2022-08-01,137.25,255.0,378.40,202.25,110.50,15.35,163.00,89.0,220.00,...,338.65,3890.0,271.35,258.25,113.0,325.25,73.1,156.25,56.0,1038.00

In [ ]:
datos.to_csv('Datos.csv', index=False)

In [6]:
# Mostrar información básica sobre el conjunto de datos
informacion_datos = datos.info()

# Mostrar las primeras filas del conjunto de datos para entender su estructura
primeras_filas_datos = datos.head()

informacion_datos, primeras_filas_datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522 entries, 0 to 521
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    522 non-null    datetime64[ns]
 1   ALUA    522 non-null    float64
 2   BBAR    522 non-null    float64
 3   BMA     522 non-null    float64
 4   BYMA    522 non-null    float64
 5   CEPU    522 non-null    float64
 6   COME    522 non-null    float64
 7   CRES    522 non-null    float64
 8   EDN     522 non-null    float64
 9   GGAL    522 non-null    float64
 10  IRSA    509 non-null    float64
 11  LOMA    522 non-null    float64
 12  MIRG    520 non-null    float64
 13  PAMP    522 non-null    float64
 14  TECO2   522 non-null    float64
 15  TGNO4   522 non-null    float64
 16  TGSU2   522 non-null    float64
 17  TRAN    522 non-null    float64
 18  TXAR    522 non-null    float64
 19  VALO    520 non-null    float64
 20  YPFD    522 non-null    float64
dtypes: datetime64[ns](1), float64(20)
memory usage: 85.8 KB

(None,
 Ticker       Date   ALUA    BBAR     BMA   BYMA    CEPU   COME    CRES  \
 0      2024-09-19  884.0  4895.0  9130.0  340.5  1270.0  280.5  1125.0
 1      2024-09-18  898.0  4750.0  8800.0  332.0  1270.0  281.0  1115.0
 2      2024-09-17  917.0  4745.0  8590.0  329.5  1275.0  281.5  1140.0
 3      2024-09-16  926.0  4710.0  8330.0  336.5  1310.0  280.5  1135.0
 4      2024-09-13  912.0  4720.0  8370.0  336.5  1300.0  279.0  1130.0

 Ticker     EDN    GGAL  ...    LOMA     MIRG    PAMP   TECO2   TGNO4   TGSU2  \
 0       1535.0  5730.0  ...  2200.0  21325.0  3050.0  2075.0  3280.0  5140.0
 1       1500.0  5680.0  ...  2145.0  20525.0  2930.0  1955.0  3220.0  5100.0
 2       1520.0  5560.0  ...  2090.0  21775.0  2915.0  2045.0  3265.0  5200.0
 3       1520.0  5510.0  ...  2045.0  21825.0  2950.0  2085.0  3270.0  5290.0
 4       1535.0  5700.0  ...  2010.0  21350.0  2950.0  2000.0  3250.0  5240.0

 Ticker    TRAN   TXAR   VALO     YPFD
 0       1770.0  848.0  317.5  29575.0
 1       1770.0  831.0  315.5  29125.0
 2       1850.0  861.0  319.5  29525.0
 3       1845.0  863.0  320.0  29900.0
 4       1830.0  832.0  320.0  29125.0

 [5 rows x 21 columns])

El conjunto de datos tiene 516 registros y 20 columnas correspondientes a diferentes acciones del panel líder del Merval. Algunas columnas como IRSA, MIRG, y VALO tienen valores nulos (menos de 516 valores no nulos), lo que indica que necesito manejar esos valores ausentes como parte del proceso de limpieza de datos.

El primer paso será manejar los valores nulos presentes en algunas de las columnas, imputándolos con la media de la respectiva serie de datos. Esto garantizará la integridad de los datos y evitará posibles sesgos en el análisis.

Luego, procederé a identificar y eliminar cualquier duplicado en las filas del conjunto de datos, ya que la duplicación de registros podría distorsionar los resultados del análisis.